@use "global" as *;

.c-btn-small {
  display: inline-block;
  padding: rem(6) rem(21);
  color: $white;  
  font-size: rem(14);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: 1;   
  border: rem(1) solid $white;
  @include mq(md){
    padding: rem(21) rem(135);
  }
}