@use "global" as *;

.c-btn-contact {
  display: inline-block;
  padding: rem(10) rem(99);
  color: $white;  
  font-size: rem(20);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: 1;
  letter-spacing: 0.125em;
  border: rem(1) solid $white;
  @include mq(md){
    padding: rem(21) rem(135);
  }
}