@use "global" as *;

// ボタン共通
.c-button {
    position: relative;
    display: inline-block;
    padding: rem(10) 0;
    font-size: rem(20);
    font-weight: $regular;
    font-family: $base-font-family;
    line-height: 1;
    letter-spacing: 0.125em;
    text-align: center;
    border: rem(1) solid $white;
    overflow: hidden;
    @include mq(md){
      font-size: rem(16);
      font-weight: $normal;
    }
}

.c-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.c-button:hover:before {
    transform: translateX(0);
}

// すべて見るボタン //
.c-button-all {
    width: 100%;
    max-width: rem(335);
    @include mq(md){
      padding: rem(7) 0;
      max-width: rem(134);
      color: $black;
      border: 0;
      background-color: $white;
    }
}

// スワイプの背景色
.c-button-all:before {
    background-color: $gray;
}

// ホバー時の文字色
.c-button-all:hover {
    color: $white;
}

// 詳しく見るボタン //
.c-button-more {
    width: 100%;
    max-width: rem(335);
    color: $white; 
    @include mq(md){
      padding: rem(21) 0;
    }
}

// スワイプの背景色
.c-button-more:before {
    background-color: $white;
}

// ホバー時の文字色
.c-button-more:hover {
    color: $gray;
}

// お問い合わせへボタン //
.c-button-contact {
    width: 100%;
    max-width: rem(335);
    color: $white; 
    @include mq(md){
      padding: rem(21) 0;
    }
}

// スワイプの背景色
.c-button-contact:before {
    background-color: $white;
}

// ホバー時の文字色
.c-button-contact:hover {
    color: $gray;
}