@use "global" as *;

.c-mark-circle {
  display: inline-block;
  width: rem(60);
  height: rem(60);
  line-height: rem(60);
  color: $gray;
  text-align: center;
  background-color: $orange;
  border-radius: 50%;
}
