<footer class="l-footer p-footer">
  <div class="l-inner">
    <div class="p-footer__container">
        <a href="#" class="p-footer__logo"><img src="images/common/logo.png" alt=""></a>
        <ul class="p-footer__navigation">
          <li class="p-footer__navigation-item"><a href="#">トップ</a></li>
          <li class="p-footer__navigation-item"><a href="#">お知らせ</a></li>
          <li class="p-footer__navigation-item"><a href="#">事業内容</a></li>
          <li class="p-footer__navigation-item"><a href="#">企業概要</a></li>
          <li class="p-footer__navigation-item"><a href="#">ブログ</a></li>
          <li class="p-footer__navigation-item"><a href="#">お問い合わせ </a></li>
        </ul>
    </div>
    <div class="p-footer__copyright">
      <p><small>&copy; 2021 CodeUps Inc.</small></p>
    </div>
  </div>

  <!-- Swiper -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</footer>