<head>
  <meta name="robots" content="noindex" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 -->
  <title>CodeUps</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!-- noindex -->
  <meta name=”robots” content=”noindex” />
  <!-- ogp -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <!-- ファビコン -->
  <link rel="icon" href="#" />
  <!-- web font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Noto+Serif+JP:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="./css/style.css" />
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script defer src="./js/script.js"></script>
  <!-- Swiper CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.5/swiper-bundle.min.js" integrity="sha512-2Vn9P9cWfNk1MITUXMzKCgQq9nInmH1UaK6c0fnBnBoO/6V8Vew043TYqu+6KdDyiI7d6sVFgAwY3/D/Ndr1rg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
