@use 'global' as *;
@use 'sass:math';

.p-drawerMenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 999;
    display: none;
}

.p-drawerMenu__inner {
    position: relative;
    width: inherit;
    height: inherit;
}

.p-drawerMenu__menus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.p-drawerMenu__menu {
    text-align: center;
}

.p-drawerMenu__menu + .p-drawerMenu__menu {
    margin-top: rem(32);
}

.p-drawerMenu__menu a {
    color: #fff;
    font-size: rem(16);
    letter-spacing: rem(2);
    transition: all 0.7s;

    &:hover {
        opacity:0.7;
    }
}