@use 'global' as *;
@use 'sass:math';

.p-globalNav {
    display: flex;
    height: inherit;
}

.p-globalNav__menu {
    margin-right: rem(32);
    height: inherit;  
}

.p-globalNav__menu:last-child {
    margin-right: 0;
    background-color: $white;
}

.p-globalNav__menu a {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: $regular;
    &:hover {
        opacity:0.7;
    }
}

.p-globalNav__menu:last-child a {
    padding: 0 rem(32);
    color: $black;
}