@use "global" as *;

.p-top-blog__cards {
  margin-top: rem(64);
  @include mq(md){
    display: flex;
    justify-content: space-between;
    margin-top: rem(48);
  }
}

.p-top-blog__card {
  @include mq(md){
    width: calc(33.33333333% - 25px * 2 / 3); 
  }
}

.p-top-blog__card:not(:first-of-type) {
  margin-top: rem(24);
  @include mq(md){
    margin-top: 0;
  }
}