<div class="l-contact p-contact">
  <div class="l-inner">
    <%- include('_p-section-title',{title_ja: 'お問い合わせ', title_en: 'Contact', en_position: 'left', layout_flg: 1}) %>
    <p class="p-contact__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <div class="p-contact__button">
    <%- include('../component/_c-button',{type: 'contact', link: '#', text: 'お問い合わせへ'}) %>
    </div>
  </div>
</div>