<%# 呼び出し元では、title_ja・title_en・en_positionに引数を設定する %>
<%# en_positionによって英語タイトルの配置が分かれるよ %>

<div class="p-section-title">
    <%- include('../component/_c-title-ja',{type: 'section', title_ja: title_ja}) %>
    <%- include('../component/_c-title-en',{type: 'section', title_en: title_en, en_position: en_position}) %>
</div>