<%# 呼び出し元では、title_ja / title_en / en_position / layout_flg に引数を設定する %>
<%# en_positionによって英語タイトルの配置が変わるよ %>
<%# layout_flg = 0 : メインのレイアウト、1 : 二つ目のレイアウト（Contactと同じ）になるよ %>

<% switch ( layout_flg ) {
    case 0:
        class_name = 'p-section-title';
        break;
    case 1:
        class_name = 'p-section-title-second';
        break;
} %>

<div class="<%= class_name %>">
    <%- include('../component/_c-title-ja',{type: 'section', title_ja: title_ja}) %>
    <%- include('../component/_c-title-en',{type: 'section', title_en: title_en, en_position: en_position}) %>
</div>