<%# 引数① : title_ja    → 日本語タイトル %>
<%# 引数② : title_en    → 英語タイトル %>
<%# 引数③ : en_position → 英語の位置 left / right %>
<%# 引数④ : layout_flg  → 0 : 通常、1 : 二つ目のレイアウト(Contact) %>

<% switch ( layout_flg ) {
    case 0:
        class_name = 'p-section-title';
        break;
    case 1:
        class_name = 'p-section-title-second';
        break;
} %>

<div class="<%= class_name %>">
    <%- include('../component/_c-title-ja',{type: 'section', title_ja: title_ja}) %>
    <%- include('../component/_c-title-en',{type: 'section', title_en: title_en, en_position: en_position}) %>
</div>