<div class="p-section-title">
    <%- include('../component/_c-title-japanese',{type: 'section', title_japanese: title_japanese}) %>
    <%- include('../component/_c-title-english',{type: 'section', title_english: title_english}) %>
</div>