<section class="l-top-works p-top-works">
  <div class="l-inner">
    <%- include('_p-section-title',{title_ja: '制作実績', title_en: 'Works', en_position: 'right', layout_flg: 0}) %>
    <div class="p-top-works__container">
      <div class="p-top-works__image">
        <img src="images/top-works01.jpg" alt="制作実績">
      </div>
      <div class="p-top-works__content">
        <h2 class="p-top-works__title">メインタイトルが入ります</h2>
        <p class="p-top-works__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-works__button">
          <%- include('../component/_c-button',{type: 'more', link: '#', text: '詳しく見る'}) %>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide ">
      <img src="images/top-works01.jpg" alt="制作実績">
    </div>
    <div class="swiper-slide">
      <img src="images/top-works02.jpg" alt="制作実績">
    </div>
    <div class="swiper-slide">
      <img src="images/top-works03.jpg" alt="制作実績">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>