<div class="p-top">
    <div class="p-top__inner l-inner">
        <div class="p-top__news">
            <a href="#">
                <%- include('../component/_c-news')  %> 
            </a>
        </div>
        <div class="p-top__button">
            <%- include('../component/_c-button',{type: 'all', link: '#'}) %>
        </div>
    </div>
</div>