<section class="l-top-overview p-top-overview">
  <div class="l-inner">
    <%- include('_p-section-title',{title_ja: '企業概要', title_en: 'Overview', en_position: 'left', layout_flg: 0}) %>
    <div class="p-top-overview__container">
      <div class="p-top-overview__image">
        <img src="images/top-overview.jpg" alt="企業概要">
      </div>
      <div class="p-top-overview__content">
        <h2 class="p-top-overview__title">メインタイトルが入ります</h2>
        <p class="p-top-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-overview__button">
          <%- include('../component/_c-button',{type: 'more', link: '#', text: '詳しく見る'}) %>
        </div>
      </div>
    </div>
  </div>
</section>
