<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./component/_c-btn-more',{text:'詳しく見る', link:'#'}) %>
    <%- include('./component/_c-btn-all',{text:'すべて見る', link:'#'}) %>
    <%- include('./component/_c-btn-contact',{text:'お問い合せへ', link:'#'}) %>    
  </body>
</html>
