<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>

    <header class="l-header">
      <%- include('./common/_p-header') %> 
    </header>

    <main>
      <div class="l-top">
        <%- include('./project/_p-top') %> 
      </div>

    </main>

    <footer>

    </footer>
    
  </body>
</html>