<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
      <%- include('project/_p-top-blog') %>     
      <%- include('project/_p-contact') %>
      <%- include('common/_footer') %>
  </body>
</html>