<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
    <body>
        <div class="p-canvas">
            <div class="l-inner">
                <%- include('./project/_test') %> 
            </div>
        </div>    
    </body>
</html>