<%# 引数① : type → ボタンの機能を指定 %>
    <%# → all : すべて見る / more : 詳しく見る / contact : お問い合わせへ / '' : ただのボタン %>
<%# 引数② : link → リンク先を指定 %>
<%# 引数③ : text → ボタンのテキストを指定 %>

<% switch ( type ) {
    case 'all':
        class_name = 'c-button c-button-all';
        break;
    case 'more':
        class_name = 'c-button c-button-more';
        break;
    case 'contact':
        class_name = 'c-button c-button-contact';
        break;
    case '':
        class_name = 'c-button';
        break;
    }
%>

<a href="<%= link %>" class="<%= class_name %>"><%= text %></a>