<%# 呼び出し元では、type / link に引数を設定する %>
<%# type = all : すべて見る / more : 詳しく見る / contact : お問い合わせへ %>

<% switch ( type ) {
    case 'all':
        text = 'すべて見る';
        class_name = 'c-button c-all-button';
        break;
    case 'more':
        text = '詳しく見る';
        class_name = 'c-button c-more-button';
        break;
    case 'contact':
        text = 'お問い合わせへ';
        class_name = 'c-button c-contact-button';
        break;
} %>

<a href="<%= link %>" class="<%= class_name %>"><%= text %></a>