<div class="c-news">
    <div class="c-news__meta">
        <p class="c-news__date">2020.07.20</p>
        <p class="c-news__tag">お知らせ</p>
    </div>
    <p class="c-news__title">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>
</div>